//VARIABLES
//Colours
$black: #2E282A;
$lightyellow: #FFE66D;
$yellow: #FFc914;
$red: #FF785A;
$blue: #17BEBB;
//Fonts
$Montserrat: 'Montserrat',
sans-serif;
$Raleway: 'Raleway',
sans-serif;

* {
    margin: 0;
    padding: 0;
}